*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    position: relative;
    /* background-color: #272b37; */
}
.background{
    min-height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1483356256511-b48749959172?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.main{
    height: 100%;
    width: 100%;
    
    background-image: linear-gradient(
        to right,
        rgb(39, 43, 55),
        rgba(39, 43, 55, 0.9),
        rgba(39, 43, 55, 0.9),
        rgba(39, 43, 55, 0.7)
     );
    /* border-radius: 18px; */
    }
    .navbar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* background-color: skyblue; */
        height:12vh;
    }
    .button{
        padding-left: 2%;
    }
    
        .any{
            /* background-color: aquamarine; */
            padding-left: 1%;
            padding-right: 5%;
            font-weight: bold;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
        .home{
            /* background-color: pink; */
            padding-right: 5%; 
            font-weight: bold;
            color: #6c7382;
            font-size: 16px;
            cursor: pointer;
        }
        .join{
            /* background-color: rgb(225, 23, 57); */
            font-weight: bold;
            color: #6c7382;
            font-size: 16px;
            cursor: pointer;
            padding-right:1%;
        }
         .formpage{
            /* background-color: pink; */
                position: fixed;
                top: 25%;
                left: 4%;
                width: 40%;
                height: 70%;
        }
         .formname{
            display: flex;
            justify-content: space-between;
        }
        .namebox{
            padding-right: 0%;
            width: 40%;
         }
        
        .textbox{
         background-color: transparent;
         outline: none;
         border: none;
         flex: 1;
         color: #dddee1;
        }
          .email{
            /* background-color: yellow; */
            padding: 1%;
          }
          .password{
            padding: 1%;
          }
          .formatted-textbox:hover{
            border: 2px solid #1c90f5;
           
          }
          .textbox-with-icon{
            display: flex;
          }
          .formatted-textbox{
            border: 2px solid transparent;
            border-radius: 10px;
            color: white;
            padding: 3%;
            margin-bottom: 15px;
            background-color: #323544;
          }
           
          .buttons{
            display: flex;
            justify-content: space-between;
            /* background-color: yellow; */
            width: 100%;
            height: 14%;
          }
          .button1{
            /* background-color: rgb(21, 7, 7); */
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
          }
          .button2{
            /* background-color: rgb(179, 25, 25); */
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
          }
          .butbox{
            padding: 4%;
            width: 95%;
            border-radius: 50px;
            cursor: pointer; 
            color: white;
            font-weight: bold;
            background-color: #555b69;
         outline: none;
         border: none;
         border: 2px solid transparent;
          }
          .butbox:hover{
            /* border: 2px solid #1c90f5; */
            background-color:#1c90f5 ;
          }
          
    